@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
* {
    margin: 0;
    left: 0;
    right: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

nav {
    background-color: #000000;
    border: 1px solid #181818;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    display: block;
}

nav a:hover {
    color: rgb(100, 255, 255);
}

.hero-section {
    background-color: #000;
    color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section img {
    width: 30%;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.hero-section p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.hero-section button {
    background-color: #FFC107;
    color: #000;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-section button:hover {
    background-color: #fff;
    color: #000;
    position: absolute;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    margin-top: 30px;
}

.btn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.games-section {
    padding: 80px 0;
    background-color: #fff;
}

.games-section h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}

.about-section {
    background-color: #fff;
    padding: 80px 0;
}

.about-section h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 40px;
}

.about-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-stat {
    text-align: center;
    width: 30%;
}

.about-stat p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.about-stat span {
    font-size: 14px;
    color: #A5A5A5;
}

.about-section a {
    display: inline-block;
    background-color: #4B8ECD;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.about-section a:hover {
    background-color: #3682BC;
}

.games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    width: 300px;
    margin: 10px;
    height: 300px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card img {
    margin-top: 20px;
    width: 40%;
    margin-left: 30%;
}

.round {
    border: 2px solid rgb(251, 255, 0);
}

.btnForbtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    margin-top: 30px;
    margin-left: 20%;
}

.btnForbtn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.game-card h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.game-card a {
    margin-left: 35%;
    margin-top: 40%;
    background-color: #FFC107;
    color: #000;
    border-radius: 20px;
}

.game-card p {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.events-section {
    background-color: #ffffff;
    padding: 80px 0;
    transition: 1s linear;
}

.events-section:hover {
    background-color: #070707;
    padding: 80px 0;
}

.events-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.events-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-card {
    max-width: 300px;
    margin: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
    background-color: #f8f8f8;
}

.event-card img {
    width: 100%;
    height: auto;
}

.event-card h3 {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

.event-card p {
    margin: 0 20px 20px;
    font-size: 16px;
    color: #666;
}

.event-card a {
    display: block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.event-card a:hover {
    background-color: #d44e00;
}

.trainers-section {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.trainers-section h2 {
    text-align: center;
    margin-bottom: 25px;
}

.trainers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.trainer-card {
    margin-right: 10px;
    text-align: center;
    margin-left: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.trainer-card img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

.trainer-card h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.trainer-card p {
    margin-top: 10px;
    font-size: 18px;
    color: #999;
}

.trainer-card .description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.reviews-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.review-card {
    width: calc((100% / 3) - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.review-card video {
    max-width: 100%;
    height: auto;
}

.contact-section {
    background-color: #1d1d1d;
    color: #fff;
    padding: 60px 0;
}

.contact-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
}

.contact-form input[type="text"],
.contact-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #2d2d2d;
    color: #fff;
}

.contact-form input[type="submit"] {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #ffcc00;
    color: #1d1d1d;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-form input[type="submit"]:hover {
    background-color: #ffdb4d;
}

.contact-form {
    margin-left: 100px;
    margin-right: 100px;
}

.contact-form label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.checkbox-wrapper {
    width: auto;
}

.contact-info {
    width: 100%;
    margin-top: 30px;
}

.contact-info p {
    margin-bottom: 20px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 10px;
}

footer {
    background-color: #ffffff;
    padding: 20px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    text-align: center;
}

.footer-menu {
    margin-bottom: 20px;
}

.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu a {
    text-decoration: none;
    color: #333;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.footer-bottom a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

.footer-bottom a:hover {
    color: #333;
}